- content_for(:header) do
  %h1 Quotes

%table.quotes
  %thead
    %tr
      %th.content Quote
      %th.source Source
      %th.user Posted by

  %tbody
    - @quotes.each do |quote|
      %tr.quote
        %td.content= quote.content
        %td.source= quote.source
        %td.user= quote.user.name

%p= link_to('New quote', new_quote_path, :class => 'new-quote')
