%header
  %h1 New quote

= form_for(@quote) do |f|
  .field= f.text_area :content, :placeholder => 'Enter the quote here'
  .field= f.text_field :source, :placeholder => 'Who said it? (optional)'
  .field= f.submit
