- content_for(:title) { @user.name }

- content_for(:header) do
  %h1
    = @user.name
    - if logged_in? && @user != current_user
      = link_to('Send a message', send_message_path(@user))

= submissions_table(:without => [:writer])
