%header
  %h1 About

%h3 What is this?

%p
  A place for you to read, rate, and comment on other writers' work, as well as manage your own
  library of poetry, stories, etc. and receive feedback from other members!

%h3 How do I get started?

%p
  != "Easy: #{link_to('register!', register_path)}"
  Once you are registered (completely free), a whole host of new options will be made available to
  you, including:

%ul
  %li Submit new work as well as edit and update entries you have submitted in the past
  %li Maintain a library of your works in progress
  %li Hide/show your pieces to the public at any time, giving you full control over all your work
  %li Get feedback on your work for free!
  %li Private messenger to communicate with other members

%p
  RateYourWriting is commited to providing an enjoyable environment free of spamming, excessively
  nasty entries, biased voting, grief voting, double-posts and more. All content is moderated to
  ensure spamming does not occur.

%p Writers retain all rights to their submitted pieces.
%p RateYourWriting claims no rights to anything submitted.

%p
  You have full control over your entries at all times, including the ability to edit, delete, and
  hide your entries.
