- content_for(:header) do
  %h1 RateYourWriting
  %p Writers helping writers

%section#news
  %section#daily-news
    %h2 Daily news

    - if @daily_news.empty?
      %p No news yet!

    - @daily_news.each do |item|
      = render_news_item(item)

    - if logged_in? && current_user.admin?
      %p= link_to('Post a new story', new_news_item_path, :class => 'new-story')

  %section#site-news
    %h2 Site news

    - if @site_news.empty?
      %p No news yet!

    - @site_news.each do |item|
      = render_news_item(item)

    - if logged_in? && current_user.admin?
      %p= link_to('Post a new story', new_news_item_path(:kind => 'S'), :class => 'new-story')
