- content_for(:header) do
  %h1 Submissions

%aside.notes
  %p The number after the title of the piece is an <em>approximate</em> total number of words in the entry.
  - if logged_in?
    %p Numbers in <span class="highlight">red</span> indicate one or more new votes/comments since your last visit.

= submissions_table(:without => [:published])
