@import 'bootstrap'
@import 'variables'

@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro")

@mixin fillParent
  display: block
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 100%
  width: 100%

@mixin translucent($opacity)
  opacity: $opacity
  filter: alpha(opacity=($opacity * 100))

@mixin backdrop($color, $opacity)
  z-index: 1

  &:before
    @include fillParent
    @include translucent($opacity)

    display: block
    content: ''
    background-color: $color
    z-index: -1

@mixin span($columns)
  @extend .col-lg-#{$columns}, [class^="col-"]

@mixin borderBox
  -moz-box-sizing: border-box
  box-sizing: border-box

@mixin inputLike
  border: 1px solid #cccccc
  border-radius: 4px
  box-sizing: border-box
  margin-bottom: 10px
  padding: 4px 6px

@mixin focusedInputLike
  border-color: rgba(82, 168, 236, 0.8)
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s
  -o-transition: border linear 0.2s, box-shadow linear 0.2s
  transition: border linear 0.2s, box-shadow linear 0.2s

@mixin smallControl($width)
  @extend .clearfix
  @include span($width)

  display: block

nav
  @extend .panel, .panel-info, .hidden-sm

  position: fixed
  top: 24px
  left: 40px
  width: 200px

  ul
    @extend .list-group, .list-group-flush

    &:not(:last-child)
      margin-bottom: 20px

    li
      @extend .list-group-item

      span.unread-count
        @extend .badge

main
  @extend .container

  @media all and (min-width: $screen-small)
    margin-left: 280px
    margin-right: 40px

  @media all and (max-width: $screen-small)
    padding-left: 15px
    padding-right: 15px

  padding-top: 24px
  padding-bottom: 64px

main > header
  margin-bottom: 10px
  padding-bottom: 10px
  border-bottom: 1px solid $hr-border

  p
    @extend .lead

  h1 a
    @extend .btn, .btn-small, .btn-info

footer
  padding: 0 1em

table
  @extend .table, .table-striped, .table-hover, .table-condensed

#notice
  @extend .alert

  &.success
    @extend .alert-success

  &.info
    @extend .alert-info

  &.warning
    @extend .alert-warning

  &.error
    @extend .alert-danger

  p:last-child
    margin-bottom: 0

blockquote#quote
  @extend .muted

  @media all and (min-width: $screen-small)
    width: 75%

  padding-top: 10px
  margin: 40px auto
  border-top: 1px solid $hr-border
  border-left: none

  footer
    display: inline

    &:before
      content: "-"

aside.notes
  &:before
    content: "Notes:"
    display: block
    font-weight: bold

  p
    margin-bottom: 0

aside.kinds
  text-align: center

  span
    @extend small, .muted

    &:nth-child(n+2):before
      content: " | "

#news
  @extend .row

  #daily-news
    @include span(6)

  #site-news
    @include span(6)

a[class*="new-"]
  @extend .btn, .btn-info

form
  .field
    @extend .form-group

  input[type="text"],
  input[type="password"],
  textarea
    @extend .form-control

  input[type="submit"], button
    @extend .btn

  input[type="submit"]
    @extend .btn-primary

  button
    @extend .btn-info

form.login, form.register
  @include span(6)

.CodeMirror
  @extend .form-control
  @include borderBox

  display: block
  height: 400px
  width: 100%
  font-family: "Source Code Pro", monospace
  cursor: text

.CodeMirror-empty
  color: #888 !important

.CodeMirror-focused
  @extend .form-control:focus

table.submissions
  th, td
    text-overflow: ellipsis
    white-space: nowrap

  .kind
    width: 6%

  .title
    text-align: right
    width: 40%

  .writer, .submitted
    width: 12%

  .votes, .rating, .comments
    width: 10%

span.highlight
  color: red

.author
  @extend .lead

  &:before
    content: 'by '
    font-size: 90%

article.submission
  margin-top: 20px

  p
    white-space: pre-wrap

span.rating a
  @extend .badge

  color: #fff

  &:hover
    @extend .badge-info

span.current a
  background-color: $brand-success

form.new-comment
  @extend .well

  margin-top: 10px

button.leave-comment
  @extend .btn-default, .btn-mini

.comment
  padding: 4px 6px

  .commenter
    font-weight: bold

  .time
    @extend small, .muted, .pull-right

  &:nth-of-type(n+2)
    margin-top: 10px

  &:nth-of-type(even)
    background-color: #e5e5e5

.messages
  .sender, .recipient
    width: 25%

  .subject
    width: 50%

#theme-preview
  position: relative
  height: 600px
  width: 100%

  iframe
    @include fillParent
    border: none
    overflow: hidden

  &:before
    @include fillParent
    @include translucent(0.1)

    content: ''
    background-color: #fff
    z-index: 1

  &:after
    @include translucent(0.75)

    display: block
    position: absolute
    top: 50%
    left: 0
    right: 0
    height: 100px
    margin-top: -50px
    line-height: 100px
    content: 'Preview'

    background-color: #eee
    color: #000
    font-size: 64px
    text-align: center
    z-index: 2

.news-item
  @extend .panel, .panel-primary

  header h1
    @extend .panel-heading
    font-size: $font-size-large

    a
      @extend .btn-mini, .btn-default, .pull-right

  footer
    @extend .panel-footer

table.quotes
  .content
    width: 50%

  .source, .user
    width: 25%
