@import "cerulean"
@import "twitter/bootstrap/responsive"

@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro")

$lightBlue: #45aeea
$darkBlue: rgb(3, 68, 130)

@mixin backdrop($color, $opacity)
  z-index: 1

  &:before
    display: block
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: $color
    opacity: $opacity
    filter: alpha(opacity=($opacity * 100))
    z-index: -1

@mixin span($columns)
  @extend .span#{$columns}, [class*="span"]

@mixin inputLike
  border: 1px solid #cccccc
  border-radius: 4px
  box-sizing: border-box
  margin-bottom: 10px
  padding: 4px 6px

@mixin focusedInputLike
  border-color: rgba(82, 168, 236, 0.8)
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s
  -o-transition: border linear 0.2s, box-shadow linear 0.2s
  transition: border linear 0.2s, box-shadow linear 0.2s

nav
  @include backdrop($lightBlue, 1)

  position: fixed
  top: 0
  bottom: 0
  left: 0
  width: 200px
  padding-top: 24px
  color: #fff

  ul
    @extend .nav, .nav-list

    li:first-child
      font-weight: bold

    li.header
      @extend .nav-header
      background-color: $darkBlue
      color: #fff
      text-shadow: none

    li a
      color: #fff
      text-shadow: none

header
  p
    @extend .lead

main
  @extend .container-fluid
  margin-left: 240px
  margin-right: 40px
  padding-top: 24px
  padding-bottom: 64px

footer
  @include backdrop($darkBlue, 0.75)

  position: fixed
  bottom: 0
  left: 200px
  right: 0
  height: 40px
  padding: 0 1em
  color: #fff
  line-height: 40px

table
  @extend .table, .table-striped, .table-hover

#notice
  @extend .modal

  header
    @extend .modal-header

  .content
    @extend .modal-body

  .actions
    @extend .modal-footer

    button
      @extend .btn

aside.notes
  &:before
    content: "Notes:"
    display: block
    font-weight: bold

aside.kinds
  text-align: center

  span
    @extend small, .muted

    &:nth-child(n+2):before
      content: " | "

#news
  @extend .row-fluid

  #daily-news
    @include span(6)

  #site-news
    @include span(6)

form
  input[type="submit"], button
    @extend .btn

  input[type="submit"]
    @extend .btn-primary

  button
    @extend .btn-inverse

.CodeMirror
  @include inputLike

  font-family: "Source Code Pro", monospace
  cursor: text

.CodeMirror-empty
  color: #888

.CodeMirror-focused
  @include focusedInputLike

table.submissions
  .kind
    width: 6%

  .title
    text-align: right
    width: 40%

  .writer, .submitted
    width: 12%

  .votes, .rating, .comments
    width: 10%

.author
  @extend .lead

  &:before
    content: 'by '
    font-size: 90%

header
  h1 a
    @extend .btn, .btn-inverse

article.submission
  margin-top: 20px

  p
    white-space: pre-wrap

span.rating a
  @extend .badge

  color: #fff

  &:hover
    @extend .badge-info

span.current a
  @extend .badge-success

form.new-comment
  @extend .well

button.leave-comment
  @extend .btn-mini

#submission_title,
#submission_body
  @extend .input-block-level

#comment
  @include span(6)

.comment
  padding: 4px 6px

  .commenter
    font-weight: bold

  .time
    @extend small, .muted, .pull-right

  &:nth-of-type(n+2)
    margin-top: 10px

  &:nth-of-type(even)
    background-color: #e5e5e5
