= text_area_tag :body, content, :class => 'editor', :placeholder => 'Write your content in Markdown format'
%aside
  = "# Heading 1 | ## Heading 2 | *italic* | **bold** | `typewriter` |"
  = link_to('see more', markdown_help_path)
